### Step 1. 필요한 라이브러리 임포트

In [1]:
import pandas as pd
import re

### Step 2. [데이터](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) 확인

- order_id 주문번호
- quantity 주문 개수
- item_name 주문한 상품명
- choice_description 선택사항
- item_price 가격

### Step 3. 데이터 불러오기


**read_csv를 통해 데이터를 올바른 형태로 불러온 뒤 chipo에 저장해주세요**  
data: chipotle.tsv

In [3]:
chipo=pd.read_csv('data/chipotle.tsv',sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. 누락값 확인하기 
chipo에서 누락값이 존재하는지 확인해주세요

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
chipo.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

### Step 5. item_price에서 $를 없애고 float 형식으로 새롭게 저장해주세요.

In [9]:
def re(x):
    x=x.replace('$','')
    return float(x)
        
chipo['item_price'].apply(re)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [10]:
chipo['item_price'].apply(lambda x:x.replace('$',''))

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [28]:
chipo['item_price'].str.replace('$','').astype(float)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11608\1234366793.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'].str.replace('$','').astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [ ]:
chipo['item_price']=chipo['item_price'].str.replace('$','').astype(float)

### Step 6. 아이템별 주문 수를 출력해주세요

In [20]:
chipo.groupby('item_name')['order_id'].count()

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: order_id, dtype: int64

### Step 7. 아이템별 주문 총량을 출력해주세요.

In [22]:
chipo.groupby('item_name')['quantity'].sum()

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

### Step 8. 각 아이템의 가격을 구해서 unit_price 컬럼에 추가해주세요.
주문당 quantity가 1일때의 가격 (item_price / quantity)

In [33]:
chipo['item_price']/chipo['quantity']

0        2.39
1        3.39
2        3.39
3        2.39
4        8.49
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

In [34]:
chipo['unit_price']=chipo['item_price']/chipo['quantity']

In [35]:
chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 9. 아이템별 개당 가격의 평균을 구하고 가장 비싼순으로 5개를 출력해주세요

In [40]:
b=chipo.groupby('item_name')['unit_price'].mean()
b

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.187273
Barbacoa Burrito                          9.832418
Barbacoa Crispy Tacos                    10.087273
Barbacoa Salad Bowl                      10.640000
Barbacoa Soft Tacos                      10.018400
Bottled Water                             1.431667
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.315588
Carnitas Burrito                          9.975932
Carnitas Crispy Tacos                     9.852857
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.398500
Chicken Bowl                              9.657727
Chicken Burrito                           9.475949
Chicken Crispy Tacos                      9.492340
Chicken Salad                             9.010000
Chicken Salad Bowl                        9.909091
Chicken Soft Tacos                        9.240261
Chips                                     2.149242
Chips and Fresh Tomato Salsa              2.748727
Chips and Guacamole                       4.345616
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.950000
Chips and Roasted Chili-Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.950000
Chips and Tomatillo Red Chili Salsa       2.950000
Chips and Tomatillo-Green Chili Salsa     2.390000
Chips and Tomatillo-Red Chili Salsa       2.390000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.232559
Steak Burrito                             9.993424
Steak Crispy Tacos                        9.952857
Steak Salad                               8.915000
Steak Salad Bowl                         11.027931
Steak Soft Tacos                          9.578182
Veggie Bowl                              10.011882
Veggie Burrito                            9.602842
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.138889
Veggie Soft Tacos                         9.352857
Name: unit_price, dtype: float64

In [45]:
b.sort_values(ascending=False).head()

item_name
Carnitas Salad Bowl    11.056667
Steak Salad Bowl       11.027931
Barbacoa Salad Bowl    10.640000
Carnitas Bowl          10.315588
Steak Bowl             10.232559
Name: unit_price, dtype: float64

### Step 10. 한 주문에 20달러 이상 지불한 손님을 출력해주세요.

In [94]:
t=chipo[chipo['item_price']>=20]
t

,order_id,quantity,item_name,choice_description,item_price,unit_price
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50,11.25
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",22.50,11.25
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
353,152,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",22.16,11.08
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94,10.98
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20,7.40
506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",23.50,11.75
549,229,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",22.16,11.08
591,243,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, So...",22.50,11.25
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78,11.89
633,261,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
816,337,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
864,357,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",22.50,11.25
1110,459,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",22.50,11.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00,8.75
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75,9.25
1429,578,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Guacam...",22.50,11.25
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",26.25,8.75
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",23.50,11.75
1718,692,2,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Lettuce, Gu...",21.96,10.98
1753,708,2,Steak Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",23.50,11.75
1832,741,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Sour Cream,...",21.96,10.98
1923,777,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
2075,837,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",21.96,10.98
2419,960,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
2510,997,2,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",22.50,11.25
2525,1004,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajit...",21.96,10.98
2942,1170,2,Chicken Bowl,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",21.96,10.98
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96,11.48
3151,1257,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",21.96,10.98
3331,1334,2,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",21.96,10.98
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07,8.69
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25,11.75
3507,1409,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
3508,1410,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",21.96,10.98
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,11.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,8.75
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75,9.25
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],26.25,8.75
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",26.25,8.75
3658,1462,2,Chicken Soft Tacos,"[[Tomatillo-Green Chili Salsa (Medium), Fresh ...",21.96,10.98
3754,1502,2,Steak Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.50,11.75
3843,1540,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Pinto...",21.96,10.98
4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",23.50,11.75
4423,1764,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",22.50,11.25
4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",23.50,11.75

In [70]:
d=chipo.groupby('order_id')['item_price'].sum()
c=d[d>=20].index

### Step 11. 위 10번에서 주문량이 2개인 아이템중 가장 많이 팔린 아이템은 무엇인가요?

In [95]:
e=t[t['quantity']==2]
e

,order_id,quantity,item_name,choice_description,item_price,unit_price
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50,11.25
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",22.50,11.25
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
353,152,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",22.16,11.08
506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",23.50,11.75
549,229,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",22.16,11.08
591,243,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, So...",22.50,11.25
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78,11.89
633,261,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
816,337,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
864,357,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",22.50,11.25
1110,459,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",22.50,11.25
1429,578,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Guacam...",22.50,11.25
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",23.50,11.75
1718,692,2,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Lettuce, Gu...",21.96,10.98
1753,708,2,Steak Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",23.50,11.75
1832,741,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Sour Cream,...",21.96,10.98
1923,777,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
2075,837,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",21.96,10.98
2419,960,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
2510,997,2,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",22.50,11.25
2525,1004,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajit...",21.96,10.98
2942,1170,2,Chicken Bowl,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",21.96,10.98
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96,11.48
3151,1257,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",21.96,10.98
3331,1334,2,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",21.96,10.98
3507,1409,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50,11.25
3508,1410,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",21.96,10.98
3658,1462,2,Chicken Soft Tacos,"[[Tomatillo-Green Chili Salsa (Medium), Fresh ...",21.96,10.98
3754,1502,2,Steak Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.50,11.75
3843,1540,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Pinto...",21.96,10.98
4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",23.50,11.75
4423,1764,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",22.50,11.25
4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",23.50,11.75

In [93]:
e.groupby('item_name').count()

,order_id,quantity,choice_description,item_price,unit_price
item_name,,,,,
Carnitas Bowl,1,1,1,1,1
Chicken Bowl,10,10,10,10,10
Chicken Burrito,2,2,2,2,2
Chicken Salad Bowl,10,10,10,10,10
Chicken Soft Tacos,1,1,1,1,1
Steak Bowl,4,4,4,4,4
Steak Burrito,4,4,4,4,4
Steak Salad Bowl,2,2,2,2,2

In [105]:
f= chipo.set_index('order_id').loc[c]
f.index.unique()

Int64Index([   4,   18,   20,   21,   26,   28,   30,   34,   40,   43,
            ...
            1811, 1812, 1822, 1824, 1825, 1827, 1829, 1830, 1833, 1834],
           dtype='int64', name='order_id', length=589)

In [82]:
f[f['quantity']==2]['item_name'].value_counts().head(1)

Chips and Guacamole    20
Name: item_name, dtype: int64

### Step 12. Veggie Salad Bowl은 몇 건 주문되었나요?

In [86]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
unit_price            18
dtype: int64

### Step 13. 아이템명에 Chicken이 들어간 음식은 몇 건 주문되었나요?
**Hint: 정규표현식 사용**   
1560

In [88]:
chipo[chipo['item_name'].str.contains('Chicken')].count()

order_id              1560
quantity              1560
item_name             1560
choice_description    1560
item_price            1560
unit_price            1560
dtype: int64

In [108]:
x=chipo.groupby('order_id').sum()
x

          quantity  item_price  unit_price
order_id
1                4       11.56       11.56
2                2       16.98        8.49
3                2       12.67       12.67
4                2       21.00       21.00
5                2       13.70       13.70
...            ...         ...         ...
1830             2       23.00       23.00
1831             3       12.90       12.90
1832             2       13.20       13.20
1833             2       23.50       23.50
1834             3       28.75       28.75

[1834 rows x 3 columns]

In [114]:
y=x[x['item_price']>=20]
y.index

Int64Index([   4,   18,   20,   21,   26,   28,   30,   34,   40,   43,
            ...
            1811, 1812, 1822, 1824, 1825, 1827, 1829, 1830, 1833, 1834],
           dtype='int64', name='order_id', length=589)

In [123]:
y[y['quantity']==2]

          quantity  item_price  unit_price
order_id
4                2        21.0       21.00
26               2        20.5       20.50
43               2        20.5       20.50
60               2        22.5       11.25
64               2        22.5       22.50
...            ...         ...         ...
1802             2        20.0       20.00
1805             2        20.0       20.00
1810             2        23.0       23.00
1830             2        23.0       23.00
1833             2        23.5       23.50

[159 rows x 3 columns]